extends layout

block content
  h1 Bookstore
  each book in books
    lable Title:
    a(href="/book/"+book.id) #{book.title}
    p Author: #{book.author}
    p Pages: #{book.pages}
    p Rating: #{book.rating}
    p Genres: 
    ul 
    each genre in book.genres 
      li #{genre}
      br
    br